[user]
        name = Daniel Whelan
        email = daniel.whelan@logicerror.org
[color]
	diff = auto
	status = auto
	branch = auto
[core]
	excludesfile = /home/danielw/.gitignore
[github]
	user = danielw
